<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Components" Directory="VersionDir">
      <Component>
        <File Source="$(var.CodePreviewHandler.TargetDir)CSharpFormat.dll" />
      </Component>
      <Component>
        <File Source="$(var.CodePreviewHandler.TargetDir)TimHeuer.ManagedPreviewHandler.dll" />
      </Component>
      <Component>
        <File Id="CodePreviewHandlerFile" Source="$(var.CodePreviewHandler.TargetPath)" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
